.article-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__container {
    width: 1100px;
    position: relative;
    overflow: hidden;
    margin: 70px 50px;
}

.article__container .article__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    background: var(--white-color);
    top: 200px;
    left: 570px;
    position: absolute;
}

.article__container .article__content h2 {
    margin-top: 6rem;
    font-size: 2.4rem;
    font-family: 'Josefin Sans', sans-serif;
}

.article__container .article__content p {
    width: 350px;
    margin-top: 1rem;
    margin-left: 7rem;
    color: var(--dark-grey);
}

@media (max-width: 1200px) {
    .article__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 60px 30px;
    }

    .article__container>img {
        width: 100%;
        object-fit: cover;
    }

    .article__container .article__content {
        display: flex;
        align-items: center;
        height: 300px;
        position: static;
    }

    .article__container .article__content p {
        width: 90%;
        margin: 20px 90px;
    }
}