.cards__section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.cards__section-container {
    width: 1161px;
}

.cards__section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.cards__section-header h1 {
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
}

.cards__section-btn {
    width: 150px;
    height: 40px;
    border: 1px solid var(--black-color);
    background: var(--white-color);
    cursor: pointer;
    outline: none;
}

.cards__section-btn:hover {
    background: var(--black-color);
    color: var(--white-color);
}

.cards__section-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    position: relative;
    margin-top: 20px;
}

.card h2 {
    position: absolute;
    color: var(--white-color);
    font-size: 1.4rem;
    font-family: 'Josefin Sans', sans-serif;
    top: 370px;
    bottom: 0;
    left: 30px;
}

@media (max-width: 500px) {
    .cards__section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .cards__section-btn {
        display: none;
    }

    .cards__section-grid-btn {
        font-display: flex;
        width: 150px;
        height: 40px;
        margin: 70px 0;
        border: 1px solid var(--black-color);
        background: var(--white-color);
        cursor: pointer;
        outline: none;
    }

    .cards__section-grid-btn:hover {
        background: var(--black-color);
        color: var(--white-color);
    }

    .card {
        margin-left: 10%;
    }

    .card img {
        width: 90%;
    }

    .card h2 {
        z-index: 1;
        top: 70px;
        left: 10px;
        font-size: 1.2rem;
    }
}

@media (min-width: 500px) {
    .cards__section-grid-btn {
        display: none;
    }
}