:root {
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --dark-grey: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    line-height: 1;
    font-size: 62.5%;
    font-family: 'Alata', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}