header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    background-image: url('../assets/images/desktop/image-hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .header__container {
    width: 80%;
    height: 80%;
    margin-top: 5rem;
}

.header__container .menu__open {
    display: none;
    flex-direction: column;
    align-items: center;
    background: var(--black-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.menu__open .menu__open-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 82px;
}

.menu__open .menu__open-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 200px;
    width: 100%;
    height: 30%;
}

.menu__open .menu__open-list li a {
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 40px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--white-color);
}

header .header__container-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20rem;
}

header .header__container .header__content {
    display: flex;
    align-items: center;
    width: 40rem;
    margin-top: 100px;
    margin-bottom: 100px;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    line-height: 3.8rem;
    letter-spacing: 2px;

    border: 2px solid var(--white-color);
}

header .header__container .header__content h1 {
    font-size: 1em;
    margin: 2rem;
    color: var(--white-color);
}

@media (max-width: 700px) {
    header .header__container-list {
        display: none;
    }

    header .header__container .header__content {
        width: 20rem;
    }

    header .header__container .header__content h1 {
        font-size: 2.2rem;
        line-height: 1;
    }
}

@media (min-width: 700px) {
    .hamburguer__menu {
        display: none;
    }
}